html {
  min-height: 100%;
  min-width: 100%;
  background-color: lightsteelblue;
  background-size: cover;
}

#homePageWelcomeDiv {
  background-color: none;
  border-radius: 25px;
  padding: 20px;
  width: 70%;
  height: 50%;
  text-align: center;
  margin-top: 2500px;
  margin: auto;
}

.dice {
  margin: 15px;
  border-radius: 20%;
  max-width: 150px;
  max-height: 150px;
}

#rollTheDiceDescriptionDiv {
  background-color: lightsteelblue;
  border-radius: 25px;
  border: 4px solid steelblue;
  padding: 20px;
  width: 850px;
  height: 65%;
  text-align: left;
  margin: auto;
  margin-top: 25px;
}

div.peopleHavingFunMenu {

  border-radius: 25px;
  border: 4px solid steelblue;
  background-color: lightsteelblue;
  white-space: nowrap;
  overflow: scroll;
  width: 850px;
  margin: auto;
  margin-top: 25px;

}


.headerLogo {
  object-fit: cover; /* Do not scale the image */
  object-position: 80%, 80%; /* Center the image within the element */
  width: 100%;
  height: 300px;
  margin-bottom: 1rem;
}

img:not(.headerLogo) {
  margin: 15px;
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
}

.bottomOfPageContainer {
  display: flex;
}

.registerContainer {
  border-radius: 15px;
  border: 4px solid steelblue;
  background-color: lightsteelblue;
  white-space: nowrap;
  overflow: auto;
  width: 200px;
  height: 35px;
  margin: auto;
  margin-top: 25px;
  margin-right: 8px;
  text-align: center;
}

.contactUsContainer {
  border-radius: 15px;
  border: 4px solid steelblue;
  background-color: lightsteelblue;
  white-space: nowrap;
  overflow: auto;
  width: 200px;
  height: 35px;
  margin: auto;
  margin-top: 25px;
  margin-left: 8px;
  text-align: center;
}
