div {
  display: block;
  text-align: center;
  margin-top: 10%;
  width: 300px;
}

h3 {
  display: flex;
  justify-content: center;
}

input {
  margin-top: 4px;
}

form {
  border-style: solid;
  border-radius: 10px;
  float: center;
  text-align: center;
  margin-top: 10%;
  background-color: lightsteelblue;
}
