<img src="assets/chess.jpg" id="header" />
<div class="wrapper">
  <div class="title">
    <p>{{ gameEvent.title }}</p>
  </div>

  <div class="description">
    <h3>Description</h3>
    <p>{{ gameEvent.description }}</p>
  </div>

  <div class="details">
    <h3>Host</h3>
    <p>{{ gameEvent.host.username }}</p>
    <h3>Date</h3>
    <p>{{ gameEvent.dateOfEvent | date: "fullDate" }}</p>
    <h3>Time</h3>
    <p>
      From {{ gameEvent.startTime | date: "shortTime" }} until
      {{ gameEvent.endTime | date: "shortTime" }}
    </p>
    <h3>Games</h3>
    <p *ngIf="games">{{games}}</p>
  </div>

  <div class="guests">
    <h3>Guests</h3>
    <p>{{guestNames}}</p>
  </div>

  <div class="tags">
    <h3>Tags</h3>
    <p>{{ tags }}</p>
  </div>

  <div class="join" *ngIf="!isHost && isLoggedIn && !alreadyJoined">
    <button type="button" name="joinButton" class="btn btn-primary btn-large btn-block" *ngIf="gameEvent.id" (click)="joinEvent(gameEvent.id, loggedInUser.id)">
      Join
    </button>
  </div>

  <div class="join" *ngIf="isHost">
    <button type="button" name="joinButton" class="btn btn-primary btn-large btn-block" *ngIf="gameEvent.id" (click)="beginEdit = true">
      Edit Event
    </button>
  </div>

  <div class="join" *ngIf="!isLoggedIn">
    <button type="button" name="joinButton" class="btn btn-secondary btn-large btn-block" disabled>
      Join
    </button>
  </div>

  <div class="join" *ngIf="alreadyJoined">
    <button type="button" name="joinButton" class="btn btn-primary btn-large btn-block" *ngIf="gameEvent.id" (click)="leaveEvent(gameEvent.id, loggedInUser.id)">
      Leave
    </button>
  </div>

</div>

<hr />
<div class="discussion"><h2>Discussion</h2>
  <div class="comment" *ngFor="let comment of gameEvent.comments">
    <img *ngIf="comment.user" src="{{comment.user.profilePictureUrl}}"><p *ngIf="comment.user" id="commenter">{{comment.postDate}} {{ comment.user.username }}:</p>
    <div *ngIf="comment.user">
      <button *ngIf="(comment.user.id === loggedInUser.id) || (loggedInUser.id === gameEvent.host.id) || (loggedInUser.role === 'ROLE_ADMIN')" class="btn btn-danger" (click)="deleteComment(comment)">X</button>
    </div>
    <p>{{comment.message}}</p>
  </div>
    <div class="addComment">
      <form *ngIf="isLoggedIn">
        <textarea id="message" name="message" rows="4" cols="80" [(ngModel)]="newComment.message"></textarea>
        <input type="hidden" name="user" [(ngModel)]="newComment.user" value="{{loggedInUser}}"><br>
        <input type="submit" class="btn btn-primary" name="submit" (click)="createComment(newComment)">
      </form>
  </div>
</div>
