#header {
  object-fit: cover; /* Do not scale the image */
  object-position: 80%, 80%; /* Center the image within the element */
  width: 100%;
  height: 300px;
  margin-bottom: 1rem;
  border-radius: 15px;
  margin-top: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  /* background-color: rgb(241, 238, 228); */
}
.title {
  grid-column: 1 / 2;
  grid-row: 1;
  color: rgb(51, 58, 86);
  background-color: rgba(82, 101, 143, 0.527);
  border: 4px solid rgb(82, 101, 143);
  color: rgb(51, 58, 86);
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.486);
  transition: 0.3s;
}
.title p {
  text-align: center;
  font-weight: bold;
  font-size: 4vw;
}

.description {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-color: rgba(82, 101, 143, 0.527);
  border: 4px solid rgb(82, 101, 143);
  color: rgb(51, 58, 86);
  border-radius: 15px;
  text-align: left;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.486);
  transition: 0.3s;
}

p {
  margin-left: 6px;
  font-size: large;
}

.details {
  grid-column: 1;
  grid-row: 2 / 5;
  background-color: rgba(82, 101, 143, 0.527);
  border: 4px solid rgb(82, 101, 143);
  color: rgb(51, 58, 86);
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.486);
  transition: 0.3s;
}

h3 {
  text-decoration: underline;
  margin-left: 12px;
}

.details p {
  margin-left: 6px;
}

.guests {
  grid-column: 2/4;
  grid-row: 3;
  background-color: rgba(82, 101, 143, 0.527);
  border: 4px solid rgb(82, 101, 143);
  color: rgb(51, 58, 86);
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.486);
  transition: 0.3s;
}

.guests p {
  margin-left: 6px;
}

.tags {
  grid-column: 2;
  grid-row: 4;
  background-color: rgba(82, 101, 143, 0.527);
  border: 4px solid rgb(82, 101, 143);
  color: rgb(51, 58, 86);
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.486);
  transition: 0.3s;
}
.join {
  grid-column: 3;
  grid-row: 4;
  background-color: rgba(82, 101, 143, 0.527);
  border: 4px solid rgb(82, 101, 143);
  color: rgb(51, 58, 86);
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.486);
  transition: 0.3s;
}

.join button {
  width: 100%;
  height: 50%;
  font-size: 4vw;
  background-color: steelblue;
}

.discussion {
  grid-column: 1 / 4;
  background-color: rgba(82, 101, 143, 0.527);
  border: 4px solid rgb(82, 101, 143);
  color: rgb(51, 58, 86);
  border-radius: 15px;
  margin-bottom: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.486);
  transition: 0.3s;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

.comment {
  background-color: rgba(183, 200, 238, 0.925);
  border: 4px solid rgb(82, 101, 143);
  color: rgb(51, 58, 86);
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 7px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.486);
  transition: 0.3s;
}

.comment button {
  float: right;
}

.comment img {
  height: 25px;
  border-radius: 15%;
  margin-left: 3px;
  margin-top: 3px;
}

#commenter {
  font-size: x-small;
}

.addComment {
  margin-left: 10px;
}
.card{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 8px;
  position: relative;
  display: block;
  /* margin-top: 20px; */
  margin-bottom: -50%;
  overflow: visible;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  z-index: 2;
  margin-top: -50%;
}

.card input{
  width: 350px;
}
.card select{
  width: 350px;
}
.card input[type=checkbox]{
  width: auto;
}

.card body {
  font-family: 'Lato', sans-serif;
}
.card button {
  margin-right: auto;
  margin-left: 12px;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 375px;
  position: relative;
  background: #000;
  border: 0;
  padding: 14px 42px;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.2em;
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
  transition: all 0.2s ease;
}
.card button:after {
  content: '';
  position: absolute;
  top: 0;
  left: -200%;
  width: 200%;
  height: 100%;
  transform: skewX(-20deg);
  background-image: linear-gradient(to right, transparent, rgba(255,255,255,0.3), transparent);
}
.card button:hover:after {
  animation: shine 1.6s ease;
}
.card button:active {
  transform: translateY(1px);
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

@-moz-keyframes shine {
  100% {
    left: 200%;
  }
}
@-webkit-keyframes shine {
  100% {
    left: 200%;
  }
}
@-o-keyframes shine {
  100% {
    left: 200%;
  }
}
@keyframes shine {
  100% {
    left: 200%;
  }
}


.blur {
  backdrop-filter: blur(10px);
  position:absolute;
  /* We'll grow the blur box to be bigger than 100% so there isn't some weird effects that you can get with blur */
  width: 104%;
  height: 304%;
  top: -2%;
  left: -2%;
}

