#header {
  object-fit: cover; /* Do not scale the image */
  object-position: 80%, 80%; /* Center the image within the element */
  width: 100%;
  height: 300px;
  margin-bottom: 1rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  background-color: rgb(241, 238, 228);
}
.title {
  grid-column: 1 / 2;
  grid-row: 1;
  color: rgb(51, 58, 86);
  text-align: center;
  vertical-align: 50%;
  font-weight: bold;
  font-size: 45px;
}

.description {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-color: rgb(241, 238, 228);
  border: 4px solid rgb(82, 101, 143);
  color: rgb(51, 58, 86);
  text-align: left;
}

.description p {
  margin-left: 6px;
  font-size: large;
}

.details {
  grid-column: 1;
  grid-row: 2 / 5;
  background-color: rgba(82, 101, 143, 0.527);
}

.details h3 {
  text-decoration: underline;
  margin-left: 12px;
}

.details p {
  margin-left: 6px;
}

.guests {
  grid-column: 2/4;
  grid-row: 3;
  background-color: rgb(82, 101, 143);
}

.guests h3 {
  text-decoration: underline;
  margin-left: 6px;
}

.guests p {
  margin-left: 6px;
}

.five {
  grid-column: 2;
  grid-row: 4;
  background-color: rgb(82, 101, 143);
}
.six {
  grid-column: 3;
  grid-row: 4;
  background-color: rgb(82, 101, 143);
}
