<div id="page">
  <div class="wrapper">
    <div class="profilePicDiv">
      <img id="profilePic" src="{{ user.profilePictureUrl }}" />
    </div>
    <div class="usernameDiv">
      <h3>{{ user.username }}</h3>
      <button class="addFriend" *ngIf="!isItYou && !isFriend" (click)="addFriend()">
        Add Friend
      </button>
      <button *ngIf="isItYou" (click)="beginEdit = true; loadUpdateUser();">Edit Profile</button>
    </div>
    <div class="bio">
      <h3>Bio:</h3>
      <p>{{ user.biography }}</p>
    </div>


  </div>
</div>
<div *ngIf="beginEdit" class="blur"></div>
<div class="card" style="width: 25rem;" *ngIf="beginEdit" >
  <button class="btn btn-danger" (click)="beginEdit=false;">X</button>
  <div class="card-body">
    <h5 class="card-title">Edit Your Profile</h5>
  </div>
  <form id="updateUser">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Bio: <br><input type="text" name="bio" [(ngModel)]="editUser.biography"></li>
        <li class="list-group-item">First Name: <br><input type="text" name="firstName" [(ngModel)]="editUser.firstName"></li>
        <li class="list-group-item">Last Name: <br><input type="text" name="lastName" [(ngModel)]="editUser.lastName"></li>
        <li class="list-group-item">Email: <br><input type="text" name="email" [(ngModel)]="editUser.email"></li>
        <li class="list-group-item">Profile Picture: <br><input type="text" name="profilePicture" [(ngModel)]="editUser.profilePictureUrl"></li>
          <li class="list-group-item">Update Home Address: <br>
              <select form="updateUser" name="address" [(ngModel)]="editUser.homeAddress">
                  <option *ngIf="editUser.homeAddress" [ngValue]="editUser.homeAddress.address">{{editUser.homeAddress.address}}</option>
                  <option *ngFor="let a of user.addresses" [ngValue]="a">{{a.address}}</option>
              </select>
          </li>
      </ul>
          <button (click)='updateUser(editUser); beginEdit = false;'>Submit</button>
  </form>

</div>
<hr />
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="false"
        aria-controls="collapseOne"
        (click)="toggleCollapseOne(); displayFriends()"
      >
        Friends
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <div *ngIf="friends.length > 0">
          <table>
            <thead>
              <th>Profile Picture</th>
              <th>Username</th>
              <th *ngIf="isItYou">First Name</th>
              <th>Games</th>
            </thead>
            <tbody>
              <tr *ngFor="let friend of friends">
                <td>
                  <img src="{{ friend.profilePictureUrl }}" height="150" />
                </td>
                <td (click)="navigateToFriendProfile(friend); isItYou = false">
                  {{ friend.username }}
                </td>
                <td *ngIf="isItYou">{{ friend.firstName }}</td>
                <td>
                  {{ loadGame(friend) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
        (click)="toggleCollapseTwo(); displayEvents()"
      >
        Game Events Attended
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="headingTwo"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <div *ngIf="events.length > 0">
          <table>
            <thead>
              <th>Title</th>
              <th>Date</th>
              <th>Games</th>
              <th>Description</th>
            </thead>
            <tbody>
              <tr *ngFor="let event of events">
                <td [routerLink]="'/gameeventdetails/' + event.id">{{ event.title }}</td>
                <td>{{ event.dateOfEvent | date: "fullDate" }}</td>
                <td>
                  <p *ngFor="let g of event.games">{{ g.name }}</p>
                </td>
                <td>{{ event.description }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingHosted">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseHosted"
        aria-expanded="false"
        aria-controls="collapseHosted"
        (click)="toggleCollapseHosted()"
      >
        Game Events Hosted
      </button>
    </h2>
    <div
      id="collapseHosted"
      class="accordion-collapse collapse"
      aria-labelledby="headingHosted"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <div *ngIf="user.hostedGameEvents">
          <table>
            <thead>
              <th>Title</th>
              <th>Date</th>
              <th>Games</th>
              <th>Description</th>
            </thead>
            <tbody>
              <tr *ngFor="let event of eventsHosted">
                <td [routerLink]="'/gameeventdetails/' + event.id">{{ event.title }}</td>
                <td>{{ event.dateOfEvent | date: "fullDate" }}</td>
                <td>
                  <p *ngFor="let g of event.games">{{ g.name }}</p>
                </td>
                <td>{{ event.description }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree"
        (click)="toggleCollapseThree(); displayGames()"
      >
        Your Games
      </button>
    </h2>
    <div
      id="collapseThree"
      class="accordion-collapse collapse"
      aria-labelledby="headingThree"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <div *ngIf="games.length > 0">
          <table>
            <thead>
              <th>Image</th>
              <th>Name</th>
              <th>Description</th>
              <th>Time To Play</th>
              <th>Maximum Players</th>
            </thead>
            <tr *ngFor="let game of games">
              <td><img src="{{ game.imageUrl }}" width="250px"/></td>
              <td>
                <a [href]="game.linkToGame" target="_blank">{{ game.name }}</a>
              </td>
              <td>{{ game.description }}</td>
              <td>{{ game.timeToPlay }}</td>
              <td>{{ game.maxPlayers }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
