.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-gap: 10px;
}

.profilePicDiv {
  grid-column: 1/2;
  grid-row: 1;
  text-align: bottom;
  /* background-color: green; */
}

#profilePic {
  width: 182px; /* width of container */
  height: 182px; /* height of container */
  object-fit: cover;
  border: 5px solid black;
}

.bio {
  grid-column: 2 / 4;
  grid-row: 1 /3;
  background-color: lightblue;
}

.box3 {
  grid-column: 2 / 4;
  grid-row: 5 / 100;
  background-color: lightgreen;
}

.options {
  grid-column: 1 / 2;
  grid-row: 5 / 100;
  background-color: plum;
}

