.card {
 width: 100%;
 margin-bottom: 5px;
 border-radius: 10px;
}

a {
  float: right;
}

.container {
  margin-top: 5%;
}

.accordion-button {
  background-color: white;
  color: black;
}
.accordion {
  position:  fixed;
  width: 21%;
  border-radius: 10px;
  padding: 10px;
}

img {
  max-width: 250px;
  max-height: 250px;
  float: right;
}



