.card {
 width: 100%;
 margin-bottom: 5px;
}

a {
  float: right;
}

.container {
  margin-top: 5%;
}

.accordion-button {
  background-color: white;
  color: black;
}
.accordion {
  position:  fixed;
  width: 21%;
}

img {
  max-width: 300px;
  max-height: 300px;
  float: right;
  margin-top: ;


}


