<nav id ="navBarMaster">
<ul class="nav nav-pills" id="navBar">

  <li class="nav-item">
    <a class="nav-link" aria-current="page" [routerLink]="['/home']" ><img class="headerLogo" src="assets/LogoTransparent.png" alt="logo"></a>
  </li>

  <li class="nav-item" *ngIf="!loggedIn()">
    <a class="nav-link " aria-current="page" [routerLink]="['/loginregister']" (click)="logout()">Login</a>
  </li>

  <li class="nav-item" *ngIf="loggedIn()">
    <a class="nav-link" aria-current="page" [routerLink]="['/creation']">My Profile</a>
  </li>

  <li class="nav-item" *ngIf="loggedIn()">
    <a class="nav-link" aria-current="page" [routerLink]="['/creation']">Host Event</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" aria-current="page" [routerLink]="['/aboutus']">About Us</a>
  </li>

  <li class="nav-item" *ngIf="loggedIn()">
    <a class="nav-link" aria-current="page" [routerLink]="['/creation']">Add Game</a>
  </li>
  <li>
    <app-search></app-search>
  </li>

  <li class="nav-item" *ngIf="loggedIn()">
    <a class="nav-link" aria-current="page" href="#" (click)="logout()" [routerLink]="['/home']">Logout</a>
  </li>

  <li>
    <p></p>
  </li>

</ul>
</nav>
