<div class="about-section">
  <h1>About the Lavender Cupcake Team</h1>
  <p>We are four handsome programmers - Ian, Jack, Andrew, and Max - with a passion for get togethers</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/Screen Shot 2022-01-31 at 5.19.43 PM.png" alt="Ian" style="width:100%">
      <div class="container">
        <h2>Ian Verderame</h2>
        <p class="title">Scrum Master, Developer</p>
        <p>Ian has played tens of board games, and appreciates the difficulty in meeting new people</p>
        <p>ian@rollthedice.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/IMG_1378.jpg" alt="Max" style="width:100%">
      <div class="container">
        <h2>Max McGregor</h2>
        <p class="title">DBA, Developer</p>
        <p>Max's parents stopped playing games with him when he was four because he was such a sore loser. </p>
        <p>max@rollthedice.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/Image from iOS.jpg" alt="Jack" style="width:100%">
      <div class="container">
        <h2>Jack Himes</h2>
        <p class="title">Developer</p>
        <p>Jack is passionate about learning new technologies, health, science and traveling.</p>
        <p>jack@rollthedice.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/Screen Shot 2022-01-31 at 6.08.03 PM.png" alt="Andrew" style="width:100%">
      <div class="container">
        <h2>Andrew Shumway</h2>
        <p class="title">Developer</p>
        <p>I really like board games.</p>
        <p>andrew@rollthedice.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
