.card{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 8px;
    position: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    overflow: visible;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

input{
    width: 350px;
}
select{
    width: 350px;
}
input[type=checkbox]{
    width: auto;
}

body {
    font-family: 'Lato', sans-serif;
  }
  button {
    margin-right: auto;
    margin-left: 12px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 375px;
    position: relative;
    background: #000;
    border: 0;
    padding: 14px 42px;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.2em;
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    transition: all 0.2s ease;
  }
  button:after {
    content: '';
    position: absolute;
    top: 0;
    left: -200%;
    width: 200%;
    height: 100%;
    transform: skewX(-20deg);
    background-image: linear-gradient(to right, transparent, rgba(255,255,255,0.3), transparent);
  }
  button:hover:after {
    animation: shine 1.6s ease;
  }
  button:active {
    transform: translateY(1px);
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  }
 
  @-moz-keyframes shine {
    100% {
      left: 200%;
    }
  }
  @-webkit-keyframes shine {
    100% {
      left: 200%;
    }
  }
  @-o-keyframes shine {
    100% {
      left: 200%;
    }
  }
  @keyframes shine {
    100% {
      left: 200%;
    }
  }