<div class="card" style="width: 18rem;" *ngIf="addGameBoolean">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Add a game</h5>
    </div>
    <form>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Title: <br><input type="text" name="title" [(ngModel)]="newGame.name"></li>
            <li class="list-group-item">Max Players: <input type="number" name="maxPlayers" [(ngModel)]="newGame.maxPlayers"></li>
            <li class="list-group-item">Game Url: <input type="text" name="gameUrl" [(ngModel)]="newGame.linkToGame"></li>
            <li class="list-group-item">Average Play Time: <input type="text" name="playTime" [(ngModel)]="newGame.timeToPlay"></li>
            <li class="list-group-item">Description: <input type="text" name="description" [(ngModel)]="newGame.description"></li>
            <li class="list-group-item">Image Url: <input type="text" name="imageUrl" [(ngModel)]="newGame.imageUrl"></li>
            <li class="list-group-item">Genres:
                <div *ngFor="let genre of genres; let i = index">
                    <label  for="i"> {{genre.name}}: </label>
                    <input type="checkbox" value="genre[i]" (change)=addGenresToChecked(genre)>
                    <!-- <input type="checkbox" [checked]='cars.indexOf(car) > -1' (change)="checkChanged(car)"></td> -->
                </div> 
            </li>
        </ul>
        <input type="submit" (click)=addSelectedGenresBeforeAddingGame()>
    </form>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;" *ngIf="addAddressBoolean">
    <div class="card-body">
      <h5 class="card-title">Add Address</h5>
    </div>
    <form >
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Street: <input type="text" name="street" [(ngModel)]="newAddress.address"></li>
            <li class="list-group-item">City: <input type="text" name="city" [(ngModel)]="newAddress.city"></li>
            <li class="list-group-item">State: <input type="text" name="state" [(ngModel)]="newAddress.state"></li>
            <li class="list-group-item">Zip Code: <input type="text" name="zipCode" [(ngModel)]="newAddress.postalCode"></li>
        </ul>
        <input type="submit" (click)='addAddress(newAddress)'>
    </form>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>


  <!-- <div class="card" style="width: 18rem;" *ngIf="addAddressBoolean">
    <div class="card-body">
      <h5 class="card-title">Host a Game Night</h5>
    </div>
    <form >
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Title: <input type="text" name="title" [(ngModel)]="newGameEvent.title"></li>
            <li class="list-group-item">Date of Event: <input type="text" name="date" [(ngModel)]="newGameEvent.dateOfEvent"></li>
            <li class="list-group-item">Maximum Number of Guests: <input type="text" name="numberOfGuests" [(ngModel)]="newGameEvent.maxNumberOfGuests"></li>
            <li class="list-group-item">Start Time: <input type="text" name="startTime" [(ngModel)]="newGameEvent.startTime"></li>
            <li class="list-group-item">End Time: <input type="text" name="endTime" [(ngModel)]="newGameEvent.endTime"></li>
            <li class="list-group-item">Event Image: <input type="text" name="eventImageUrl" [(ngModel)]="newGameEvent.imageUrl"></li>
            <li class="list-group-item">Description: <input type="text" name="description" [(ngModel)]="newGameEvent.description"></li> -->
            <!-- Addresses gon' be a whole other can of worms, manana  -->
            <!-- Event times and dates types need to be changed above -->
        <!-- </ul>
        <input type="submit" (click)='addAddress(newAddress)'>
    </form>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div> -->